<div class='artist_name'>
  {{#each artist}}

    {{! handlebars you access array with  . notation }}
    <div class='container'>
      <img src='{{images.0.url}}' alt='artists' />

      <h2>{{name}}</h2>
      <button>
        <a href='/albums/{{id}}'>View Albums</a></button>

    </div>

  {{/each}}

</div>