<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/style.css' />
    <title>Document</title>
  </head>
  <body>
    {{! everything gets injected here so if we have index.hbs or about.hbs then it gets rendered here cause of this keyword }}
    {{{body}}}
  </body>
</html>